{% extends 'base.html' %}
{% load humanize %}
{% load crispy_forms_filters %}
{% block content %}
    {% include 'navbar.html' %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-6 text-center">
            {% if student.profile_pic%}

            <img src="{{ student.profile_pic.url }}" class="img-fluid" alt="">

                {% endif %}
        <h3> {{ student.first_name|capfirst }} {{ student.last_name|capfirst }}</h3>
        <p>Email: {{ student.email }}</p>
        <p>added on: {{ student.created_at| naturaltime }}</p>
        <p>D.O.B: {{ student.dob| date:'d-m-y'}}</p>
        <p>WEIGHT: {{ student.weight}}</p>
        <p>K.C.PE: {{ student.kcpe_score}}</p>
{#        <a href="{% url 'delete' student.id %}" class="btn-warning"></a>#}

        </div>

    </div>
</div>
{% endblock %}
{% block title %}
	Students Details
{% endblock %}
